body{
    background-color: var(--bg);
    font-family: "Poppins",sans-serif;
    border: 2px solid;
}
nav, .nav-links {
    display: flex;   
}
nav{
    margin: 0 auto;
    max-width: 85rem;
    height: 30vh;
    align-items: center;
}
.nav-links{
    justify-content: center;
    flex-grow: 1;
    list-style: none;
    align-items: center;
    gap: 2rem;
}
a{
    color: var(--text);
    text-decoration: none;
}
a:hover{
    color: var(--text-hover);
    text-decoration: underline;
    text-underline-offset: 1rem;
}
.logo{
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--text);
    font-weight: 500;
}
.bttn{
    padding: .6em 1.2em;
    font-size: .8rem;
    letter-spacing: .02em;
    background-color:hsl(0,0%,15%);
    color: #ffff;
    border-radius:20px;
    border:1px solid transparent;
    cursor: pointer;
    white-space: nowrap;
}
.bttn:hover{
    color: #ffff;
    opacity: 0.8;
}