:root {
    --bg: #ffffff;
  --surface: #f9fafb;
  --head: #111111;
  --text: #414141;
  --text-hover: #6d27c8;
}
* {
    margin: 0;
    padding: 0;
}
body{
    color: var(--text);
    font-family: "poppins";
    font-weight: 400;
}
html {
    scroll-behavior: smooth;
}
.framer{
    margin-top: 1rem;
    margin-left:3rem;
    margin-right:3rem;
}
.navi{
    display: flex;
    height: 3rem;
    align-items: center;
}
a{
    margin: 1rem;
    color: var(--text);
    text-decoration: none;
}
a:hover{
    color: var(--text-hover);
    text-decoration: underline;
    text-underline-offset: 1rem;
}
nav{
    margin: 0 auto;
}
.nav-links{
    flex-grow: 1;
    list-style: none;
    align-items: center;
    white-space: nowrap;
}
.logo{
    white-space: nowrap;
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--head);
    font-weight: 500;
}
.bttn{
    padding: .6em 1.2em;
    font-size: .8rem;
    letter-spacing: .02em;
    background-color:hsl(0,0%,15%);
    color: #ffff;
    border-radius:20px;
    border:1px solid transparent;
    cursor: pointer;
    white-space: nowrap;
}
.bttn:hover{
    color: #ffff;
    opacity: 0.8;
}
.space{
    height: 9rem;
}
.hero{
    display: flex;
}
.intro{
    display: block;
    letter-spacing: .07rem;
    font-size: 1.2rem;
}
.first{
    font-weight: 400;
}

.hero-text{
    display: flex;
    display: block;
}
.second{
    font-weight: bolder;
    font-size: 4rem;
    color: var(--text-hover);
}
.second span{
    color: #111111;
    font-weight: bold;
    display: block;
    font-size: 3.5rem;
}
.divide{

}
.image{
    margin-left: 10rem;
    height:25rem;
    width:25rem;
    border-radius: 50%;
    overflow: hidden;
    right: 0;
    display: flex;
    justify-content: right;
}
.icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 600px) {

}
